<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    	
	<p>**********[All Students]*************</p>
	
	<tr th:each="student: ${students}">
	    <td th:text="| ${student.id} | "/>
	    <td th:text="${student.ferstname} | " />
		<td th:text="${student.lastname} | " />
		<td th:text="${student.dateofberth} | "/>
		<td th:text="${student.email} | " />
		<td th:text="${student.age} | "/>
		<br>
	</tr>
	
	
	
</body>
</html>