<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head> 

  <title>Delete student</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/form.css" type="text/css" />
  <link rel="stylesheet" href="/css/modal.css" type="text/css" />

</head>

<body>

	<div class="modal">
	<h2>Delete student:</h2>

	<form th:action="@{/api/v2/students/{email}(email=${student.getEmail()})}" th:method="DELETE" th:object="${student}">
	
  		<input type="text" id="id" name="id" th:field="${student.id}"><br><br>
  
 		 <label for="fname">ferstname:</label><br>
 		 <input type="text" id="ferstname" name="ferstname" th:field="*{ferstname}"><br><br>  
 		
		 <label for="lname">lastname:</label><br>
		 <input type="text" id="lastname" name="lastname" th:field="*{lastname}"><br><br>
		 
		 <label for="dateofberth">dateofberth:</label><br>
 		 <input type="text" id="dateofberth" name="dateofberth" th:field="*{dateofberth}"><br><br>
  		 
		 <label for="email">email:</label><br>
  		 <input type="text" id="email" name="email" th:field="*{email}"><br><br>
    
  		 <input type="submit" value="Delete">
	</form> 
	</div>

</body>
</html>