<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>HTML Forms</h2>

<form th:action="@{/api/v2/students/{email}(email=${student.getEmail()})}" th:method="DELETE" th:object="${student}">
	
  <input type="text" id="id" name="id" th:field="${student.id}"><br><br>
  
  <label for="fname">ferstname:</label><br>
  <input type="text" id="ferstname" name="ferstname" th:field="*{ferstname}"><br><br>  
  <label for="lname">lastname:</label><br>
  <input type="text" id="lastname" name="lastname" th:field="*{lastname}"><br><br>
  <label for="dateofberth">dateofberth:</label><br>
  <input type="text" id="dateofberth" name="dateofberth" th:field="*{dateofberth}"><br><br>
  <label for="email">email:</label><br>
  <input type="text" id="email" name="email" th:field="*{email}"><br><br>
    
  <input type="submit" value="Delete">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>